#home img
{
    height: 20%;
}

body
{
    background: red;
    
}

#home h2
{
    font-size: 2.5em;
}

#home p
{
    padding: 10px 50px;
    font-size: 1.5em;
}

.search-text
{
    font-size: 1.5em;
    width: 80%;
}